
.inv {
    display: flex;
    background-color: black;
    height: 400px;
    width: 1000px;
    justify-content: space-around;
    margin-top: -1%;
}

.slot {
    background-color: gray;
    height: 200px;
    width: 200px;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.item {
    background-color: brown;
    height: 50px;
    width: 50px;
    margin: 10px;
}

.button {
    background-color: brown;
    border: none;
    margin-top: 3%;
    height: 50px;
    font-size: 25px;
}